<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bienvenido a mi aplicación</title>
  <style>
    .fondo {
     background-color: black;
    }
  </style>
</head>
<body>
  <h1>Tu código para cambiar tu contraseña: {{resetCode}}</h1>
 
</body>
</html>
