<html>
  <head>
    <title>Creo</title>
    <style>
      /* Estilos para el encabezado */ header { background: linear-gradient(to
      right, #4a47a3, #643cad); color: #fff; padding: 20px; text-align: center;
      } /* Estilos para el pie de p치gina */ footer { background:
      linear-gradient(to right, #4a47a3, #643cad); color: #fff; padding: 20px;
      text-align: center; } /* Estilos para los enlaces del pie de p치gina */
      footer a { color: #fff; text-decoration: none; margin: 0 10px; padding:
      20px; text-align: center; } /* Estilos para los p치rrafos de bienvenida */
      .welcome { text-align: center; margin: 20px; } /* Estilos para los iconos
      de redes sociales */ .social-icons { text-align: center; margin: 20px; }
      .social-icons a { display: inline-block; width: 30px; height: 30px;
      background-color: #333; color: #fff; border-radius: 50%; text-align:
      center; line-height: 30px; margin: 0 10px; text-decoration: none; }
    </style>
  </head>
  <body>
    <header>
      <h1>Creo</h1>
      <p>Connecting lives with Christ</p>
    </header>

    <!-- Contenido principal de la p치gina -->
    <main>
      <div class="welcome">
        <p>{{username}}, {{content}} </p>

      </div>
    </main>

    <footer>
      <p>For we are his workmanship, created in Christ Jesus for good works,
        which God prepared beforehand, that we should walk in them</p>
        <hr> <br>
        <p>From Curitiba, Brasil</p>
        <br>
        <p>info@creo.red</p>
      {{! <div class="social-icons">
        <a href="https://www.facebook.com"><img
            src="facebook-icon.png"
            alt="Facebook"
          /></a>
        <a href="https://www.twitter.com"><img
            src="twitter-icon.png"
            alt="Twitter"
          /></a>
        <a href="https://www.instagram.com"><img
            src="instagram-icon.png"
            alt="Instagram"
          /></a>
        <a href="https://www.tiktok.com"><img
            src="tiktok-icon.png"
            alt="TikTok"
          /></a>
      </div> }}
    </footer>
  </body>
</html>